.el-menu {
  /*border-right: solid 1px #e6e6e6;*/
  border-right: 0;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #FFFFFF;
}

.el-submenu__title i {
  color: #4b4c4e;
}

.el-menu-item i {
  color: #4b4c4e;
}